.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.menu-item {
  border: gold 2px solid;
  border-radius: 50px;
  
  color: gold;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
}

.menu-item:hover {
  transform: scale(1.03);
}

.menu-img {

  width: 100%;
  height: 200px;
  object-fit: cover;
}

.menu-info {
  padding: 1rem;
}

.price {
  color: #007b5e;
}
